<div class="page">
    <div class="page-gradient">
        <div class="fade">
            <nav-menu></nav-menu>

            <div class="tournaments">
                <div class="tournaments-content">

                    <div class="filter-options">
                        <div class="container">
                            <input type="text" placeholder="Title Search" />
                        </div>
                    </div>

                    <div class="separator"></div>

                    <div>
                        <div class="container">
                            <h2>{{gameName}} Tournaments</h2>
                            <div>Content</div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
<div class="push-down"></div>