<div id="page" class="page" [ngStyle]="{ 'background': getBackground() }">
    <div class="page-gradient">
        <div class="fade">
            <nav-menu></nav-menu>

            <div class="tournaments">
                <div class="tournaments-content">

                    <div class="header">
                        <div class="gradient">
                            <div class="container">
                                <div class="game-info">
                                    <div class="game-icon">
                                        <img [src]="gameInfo.iconUrl" onError="this.src='/static/images/icons/unknown.png'" />
                                    </div>
                                    <div class="game-meta">
                                        <h2 class="game-header">{{gameInfo.name}} Tournaments</h2>
                                        <div class="game-stats">
                                            <strong>4</strong> public tournaments
                                        </div>
                                    </div>
                                    <div class="clearfix"></div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div>

                        <div class="container">
                            <div class="filter-options">
                                <input type="text" placeholder="Title Search" />
                            </div>
                            <table>
                                <thead>
                                    <tr>
                                        <th>Name</th>
                                        <th>Game</th>
                                        <th>Type</th>
                                        <th>Participants</th>
                                        <th>Created On</th>
                                        <th>Status</th>
                                        <th>Organizer</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let tournament of tournaments">
                                        <td>{{ tournament.name }}</td>
                                        <td>
                                            <img src="/static/images/icons/{{ tournament.game }}.png" width="25px" />
                                        </td>
                                        <td>{{ tournament.type }}</td>
                                        <td>{{ tournament.participants }} / {{ tournament.capacity }}</td>
                                        <td>{{ tournament.created }}</td>
                                        <td>{{ tournament.status }}</td>
                                        <td>{{ tournament.organizer }}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>

                </div>
            </div>

        </div>
    </div>
</div>
<div class="push-down"></div>