<div class="page">
    <div class="page-gradient">
        <div class="fade">
            <nav-menu></nav-menu>

            <div class="games">
                <div class="games-content">
                    <div class="container">
                        <h2>Games</h2>
                        <div>
                            <input [(ngModel)]="filter" id="game-filter" type="text" placeholder="Filter" />
                        </div>
                        <gamegrid [games]="games" [filter]="filter"></gamegrid>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
<div class="push-down"></div>