ul {
    padding: 0;
    margin: 0;
}

.grid {
    overflow: hidden;
    padding: 1.5em 0;
    /*margin: 0 auto 20px auto;*/
    max-width: 56em;
    list-style: none;
}

    .grid li {
        /*padding: 0 0.5em 0.5em 0;*/
    }

        .grid li img {
            display: block;
            width: 100%;
            cursor: pointer;
        }

            .grid li img:hover {
                filter: brightness(85%);
            }

    .grid h2 {
        font-size: 100%;
    }

    .grid li > div,
    .grid li > h2 {
        background: #1a1f22;
        color: white;
        text-align: center;
        margin: 0;
    }

    .grid li.title h2 {
        padding: 1em;
        width: 100%;
    }

    .grid li a {
        color: white;
    }

@media all and (min-width: 500px) {
    .grid li {
        float: left;
        width: 33.3333333%;
    }

        .grid li.title {
            width: 100%;
        }
}

@media all and (min-width: 60em) {
    .grid li {
        width: 25%;
    }

        .grid li.title {
            width: 25%;
            clear: left;
        }

            .grid li.title h2 {
                padding: 7em 2em;
            }
}


/* for flexbox */

@supports(display: flex) {
    @media all and (min-width: 500px) {
        .grid {
            display: flex;
            flex-wrap: wrap;
        }

            .grid li {
                display: flex;
                flex-direction: column;
            }
                /* the original pattern and therefore our fallback styles uses padding on the li and then puts the background color on the inner element. We can't therefor make it stretch just by way of the default alignment of the flex item. By setting the li to a flex column we can then make the inner grow to the height of the external container.  */
                .grid li > * {
                    flex: 1;
                }
    }
}


/* for grid */

@supports(display: grid) {


    @media all and (min-width: 500px) {
        .grid {
            display: grid;
            grid-gap: 15px;
            /*padding-right: 10px;*/
            grid-template-columns: repeat(3, 1fr);
        }

            .grid li {
                padding: 0;
                display: block;
                background: #1a1f22;
                float: none;
                width: auto;
            }

                .grid li.title {
                    width: auto;
                    grid-column: 1 / 4;
                }
    }

    @media all and (min-width: 60em) {
        .grid {
            grid-template-columns: repeat(5, 1fr);
        }

            .grid li {
                width: auto;
            }

                .grid li.title {
                    grid-column: 1 / 2;
                }
    }
}