
.page {
    background: url(/images/backgrounds/main.jpg);
    background-position-x: center !important;
    background-position-y: top !important;
}

    .page .page-gradient {
        background: linear-gradient(315deg, rgba(114, 202, 199, 0), rgba(116, 202, 199, 0.4), rgba(20,8,5,0.6), rgba(20,8,5,0.7) )
    }

    .page .fade {
        background: linear-gradient(180deg, rgba(114, 202, 199, 0), rgba(116, 202, 199, 0), rgba(20,8,5,1) 93%);
    }



.tournaments-content {
    background: linear-gradient(rgba(255,255,255,0.8), #fff);
    color: #576e91;
}
