<div class="block full">
  <div class="header">About This Tournament</div>
  <div class="body">
    Description of this tournament goes here.
  </div>
</div>


<div class="details">

  <div class="block half">
    <div class="header">Game &amp; Region</div>
    <div class="body">
      <div>League of Legends</div>
      <div>North America</div>
    </div>
  </div>

  <div class="block half">
    <div class="header">Game &amp; Region</div>
    <div class="body">
      <div>League of Legends</div>
      <div>North America</div>
    </div>
  </div>

  <div class="block half">
    <div class="header">Date &amp; Time</div>
    <div class="body">
      <div>Saturday, March 31 2018</div>
      <div>12:00 PM EDT</div>
    </div>
  </div>

  <div class="block half">
    <div class="header">Format</div>
    <div class="body">
      <div>1v1</div>
      <div>Player Registration is allowed</div>
    </div>
  </div>

  <div class="block half">
    <div class="header">Contact</div>
    <div class="body">
      <div>someone@somewhere.com</div>
    </div>
  </div>

  <div class="block half">
    <div class="header">Prizes</div>
    <div class="body">
      <tournament-prizes></tournament-prizes>
    </div>
  </div>

  <div class="block half">
    <div class="header">Rules</div>
    <div class="body">
      <tournament-rules></tournament-rules>
    </div>
  </div>

</div>

