<h1>About This Tournament</h1>

<p>Description of this tournament goes here.</p>

<h2>Game &amp; Region</h2>

  <div>League of Legends</div>
  <div>North America</div>

<h2>Date &amp; Time</h2>

  <div>Saturday, March 31 2018</div>
  <div>12:00 PM EDT</div>

<h2>Format</h2>

  <div>1v1</div>
  <div>Player Registration is allowed</div>

<h2>Contact</h2>

<div>someone@somewhere.com</div>

<h2>Prizes</h2>

<tournament-prizes></tournament-prizes>

<h1>Rules</h1>

<tournament-rules></tournament-rules>
