/* Base styles */
/*
    light blue: 74CAC7
    dark blue: #2E294E
    purples: 4B4B71, 4F5082, 54558A, 656C99
    neutrals: E0DEE3, F9F9FB
*/
body {
    font-family: 'PT Sans', sans-serif;
}

.section {

}

.container {
    max-width: 950px;
    margin: auto;
}

.clearfix:after {
    clear: both;
}
