/* Base styles */
/*
    light blue: 74CAC7
    dark blue: #2E294E
    purples: 4B4B71, 4F5082, 54558A, 656C99
    neutrals: E0DEE3, F9F9FB
*/
body {
    font-family: 'PT Sans', sans-serif;
    background-color: #1a1f22;
    color: white;
}

h1 {
    font-size: 1.5em;
}

.section {
    
}

.container {
    max-width: 950px;
    margin: auto;
    padding: 30px;
}

.clearfix {
    clear: both;
}

a {
    color: white;
    text-decoration: none;

    transition: all 0.2s ease;
}

    a:hover {
        color: #74CAC7;
    }

.light {
    color: #74CAC7;
}

.dark {
    color: #1a2023;
}
