<div class="page">
    <div class="page-gradient">
        <div class="fade">
            <nav-menu></nav-menu>
            <div class="games">
                <div class="games-content">
                    <div class="container">
                        <h2>Games</h2>

                        <div class="holder">
                            <div class="row">
                                <div class="game">
                                    <img alt="league of legends" src="images/games/league-of-legends.jpg" />
                                </div>
                                <div class="game">

                                </div>

                                <div class="game">

                                </div>
                            </div>

                            <div class="row">
                                <div class="game">

                                </div>
                                <div class="game">

                                </div>
                                <div class="game">

                                </div>
                            </div>

                            <div class="row">
                                <div class="game">

                                </div>
                                <div class="game">

                                </div>
                                <div class="empty"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>