.page {
    background: url(images/games-banner.jpg);
}

    .page .page-gradient {
        background: linear-gradient(315deg, rgba(114, 202, 199, 0), rgba(116, 202, 199, 0.4), rgba(20,8,5,0.6), rgba(20,8,5,0.7) )
    }

    .page .fade {
        background: linear-gradient(180deg, rgba(114, 202, 199, 0), rgba(116, 202, 199, 0), rgba(20,8,5,1) 93%);
    }

.games-content {
    /*background: rgba(30,47,54, 0.6);*/
    background: #edf5f7;
    color: #576e91;
}


