<div class="page">
    <div class="page-gradient">
        <div class="fade">
            <nav-menu></nav-menu>

            <div class="games">
                <div class="games-content">
                    <div class="container">
                        <h2>Games</h2>

                        <div class="holder">
                            <div class="row">
                                <div class="game">
                                    <img [routerLink]="['/games', 'league-of-legends']" alt="league of legends" src="images/games/league-of-legends.jpg" />
                                </div>
                                <div class="game">
                                    <img [routerLink]="['/games', 'rocket-league']" alt="rocket league" src="images/games/rocket-league.jpg" />
                                </div>

                                <div class="game">
                                    <img [routerLink]="['/games', 'fortnite']" alt="fortnite" src="images/games/fortnite.jpg" />
                                </div>
                                <div class="game">
                                    <img [routerLink]="['/games', 'hearthstone']" alt="fortnite" src="images/games/hearthstone.jpg" />
                                </div>
                                <div class="game">
                                    <img [routerLink]="['/games', 'counter-strike-global-offensive']" alt="fortnite" src="images/games/counter-strike-global-offensive.jpg" />
                                </div>

                                <div class="game">
                                    <img [routerLink]="['/games', 'minecraft']" alt="minecraft" src="images/games/minecraft.jpg" />
                                </div>
                            </div>

                            <div class="row">
                                <div class="game">
                                    <img [routerLink]="['/games', 'battlefield-1']" alt="battlefield 1" src="images/games/battlefield-1.jpg" />
                                </div>

                                <div class="game">
                                    <img [routerLink]="['/games', 'battlerite']" alt="battlerite" src="images/games/battlerite.jpg" />
                                </div>

                                <div class="game">
                                    <img [routerLink]="['/games', 'dota-2']" alt="dota 2" src="images/games/dota-2.jpg" />
                                </div>

                                <div class="game">
                                    <img [routerLink]="['/games', 'heroes-of-the-storm']" alt="heroes of the storm" src="images/games/heroes-of-the-storm.jpg" />
                                </div>

                                <div class="game">
                                    <img [routerLink]="['/games', 'madden-nfl-18']" alt="madden nfl 18" src="images/games/madden-nfl-18.jpg" />
                                </div>

                                <div class="game">
                                    <img [routerLink]="['/games', 'overwatch']" alt="overwatch" src="images/games/overwatch.jpg" />
                                </div>
                            </div>

                            <div class="row">
                                <div class="game">
                                    <img [routerLink]="['/games', 'paladins']" alt="paladins" src="images/games/paladins.jpg" />
                                </div>

                                <div class="game">
                                    <img [routerLink]="['/games', 'playerunknowns-battlegrounds']" alt="playerunknowns battlegrounds" src="images/games/playerunknowns-battlegrounds.jpg" />
                                </div>

                                <div class="game">
                                    <img [routerLink]="['/games', 'smite']" alt="smite" src="images/games/smite.jpg" />
                                </div>

                                <div class="game">
                                    <img [routerLink]="['/games', 'starcraft-2']" alt="starcraft 2" src="images/games/starcraft-2.jpg" />
                                </div>

                                <div class="game">
                                    <img [routerLink]="['/games', 'world-of-warcraft']" alt="world of warcraft" src="images/games/world-of-warcraft.jpg" />
                                </div>

                                <div class="empty"></div>
                            </div>
                            <div class="push-down"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>