<div class="tabs-area">
  <div class="container tabs-container">
    <ul class="tabs">
      <li class="tab" [routerLink]="['./']" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact: true}">Details</li>
      <li class="tab" [routerLink]="['teams']" [routerLinkActive]="['active']">Participants</li>
      <li class="tab" [routerLink]="['standings']" [routerLinkActive]="['active']">Standings</li>
      <li class="tab" [routerLink]="['statistics']" [routerLinkActive]="['active']">Statistics</li>
      <li class="tab" [routerLink]="['schedule']" [routerLinkActive]="['active']">Schedule</li>
      <li class="tab" [routerLink]="['discussion']" [routerLinkActive]="['active']">Discussion</li>
      <li class="tab" [routerLink]="['announcements']" [routerLinkActive]="['active']">Announcements</li>
      <li class="tab" [routerLink]="['media']" [routerLinkActive]="['active']">Media</li>
    </ul>
  </div>
</div>
