<div class="banner section">
    <div class="banner-overlay"></div>
    <div class="container">
        <div>Join a tournament</div>
        <div>Create a tournament</div>
        <div>Sponsor a tournament</div>
    </div>
</div>

<div class="cta section">
    <div class="container">
        <div>Single Elimination</div>
        <div>Double Elimination</div>
        <div>Round Robin</div>
        <div>Extended</div>
    </div>
</div>

<div class="section">
    <div class="container">
        <h1>Featured Tournaments</h1>
        <div>
            <div>Format: Single Elimination</div>
            <div>Participants: 40</div>
            <div>When: ongoing</div>
        </div>
        <div>
            <div>Format: Single Elimination</div>
            <div>Participants: 40</div>
            <div>When: ongoing</div>
        </div>
        <div>
            <div>Format: Single Elimination</div>
            <div>Participants: 40</div>
            <div>When: ongoing</div>
        </div>
    </div>
</div>