<div class="top">
    <nav-menu></nav-menu>

    <div class="banner section">
        <div class="banner-content container">
            <div class="pitch">
                Easily create and manage or compete in tournaments
            </div>
            <div class="content-block">Join a tournament</div>
            <div class="content-block">Create a tournament</div>
            <div class="content-block">Sponsor a tournament</div>
        </div>
    </div>
</div>


<div class="cta section">
    <div class="container">
        <div>Single Elimination</div>
        <div>Double Elimination</div>
        <div>Round Robin</div>
        <div>Extended</div>
    </div>
</div>

<div class="featured-tournaments section">
    <div class="container">
        <h1>Featured Tournaments</h1>
        <div>
            <div>Format: Single Elimination</div>
            <div>Participants: 40</div>
            <div>When: ongoing</div>
        </div>
        <div>
            <div>Format: Single Elimination</div>
            <div>Participants: 40</div>
            <div>When: ongoing</div>
        </div>
        <div>
            <div>Format: Single Elimination</div>
            <div>Participants: 40</div>
            <div>When: ongoing</div>
        </div>
    </div>
</div>