.top {
    background-image: url("images/home-banner-1.jpg");
    background-position-x: center;
    background-position-y: top;
}

.banner {
    position: relative;
    color: white;
    background: rgba(30,47,54, 0.6);
}


.banner-content {
    height: 600px;
}

.banner-content .pitch {
    font-size: 32px;
    width: 600px;
    margin: 0 auto;
    text-align: center;
    padding: 30px;
}

.banner-content .content-blocks {
    width: 710px;
    margin: 0 auto;
}

    .banner-content .content-block {
        background-color: #74CAC7;
        color: black;
        border: 1px solid black;
        padding: 30px;
        margin: 15px;
        float: left;
        cursor: pointer;
        user-select: none;
        transition: all 0.2s
    }

        .banner-content .content-block:hover {
            background-color: #5BB1AE;
            /*color: white;*/
        }

    .banner-content .content-block:after {
        clear: left;
    }

.cta {
    /*background-image: linear-gradient(180deg,#f07155,#ff8f59);*/
    background-color: #74CAC7;
    padding: 30px;
}

.featured-tournaments {
    background-color: #E0DEE3;
}

    .featured-tournaments .tournament {
        float: left;
        width: 225px;
        margin-left: 14px;
        cursor: pointer;
    }

    .featured-tournaments .tournament:nth-of-type(1) {
        margin-left:0;
    }

    .featured-tournaments .tournament .image {
        max-height: 300px;
    }
        .featured-tournaments .tournament .info {
            background-color: #1e2f36;
            color: white;
            padding: 5px;
        }

.top-games {
    background-color: #E0DEE3;
    text-align: justify;
}

    .top-games .game {
        float: left;
        width: 225px;
        margin-left: 14px;
        cursor: pointer;
    }

    .top-games .game:nth-of-type(1) {
        margin-left: 0px;
    }

        .top-games .game .image {
            height: 300px;
            background-size: cover;
            /*filter: grayscale(100%);*/
            transition: all 0.2s ease;
        }

            .top-games .game .image:hover {
                /*filter: grayscale(0%);*/
                transform: scale(1.025);
            }

    .top-games .game .image.league-of-legends {
        background-image: url(./images/games/league-of-legends.jpg);
    }
    .top-games .game .image.minecraft {
        background-image: url(./images/games/minecraft.png);
    }
    .top-games .game .image.rocket-league {
        background-image: url(./images/games/rocket-league.jpg);
    }
    .top-games .game .image.magic-the-gathering {
        background-image: url(./images/games/magic-the-gathering.jpg);
    }
