<div class="top">
    <div class="top-content">
        <div class="fade">
            <nav-menu></nav-menu>

            <div class="banner section">
                <div class="banner-content container">
                    <div class="pitch">
                        Easily create, manage, and compete in online tournaments and leagues.
                    </div>
                    <div class="content-blocks">
                        <div class="content-block">Join a tournament</div>
                        <div class="content-block">Create a tournament</div>
                        <div class="content-block">Sponsor a tournament</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="cta section">
    <div class="container">
        <div>Placeholder for something here.</div>
    </div>
</div>

<div class="featured-tournaments section">
    <div class="featured-tournaments-content">
        <div class="container">
            <h1 class="dark">Featured Tournaments</h1>
            <div class="tournament">
                <div class="image">
                    <img src="images/tournament-placeholder-1.jpg" />
                    <div class="info">
                        <div><strong>Format:</strong> Single Elimination</div>
                        <div><strong>Participants:</strong> 40</div>
                        <div><strong>When:</strong> ongoing</div>
                    </div>
                </div>
                
            </div>
            <div class="tournament">
                <div class="image">
                    <img src="images/tournament-placeholder-2.jpg" />
                </div>
                <div class="info">
                    <div><strong>Format:</strong> Single Elimination</div>
                    <div><strong>Participants:</strong> 40</div>
                    <div><strong>When:</strong> ongoing</div>
                </div>
            </div>
            <div class="tournament">
                <div class="image">
                    <img src="images/tournament-placeholder-1.jpg" />
                </div>
                <div class="info">
                    <div><strong>Format:</strong> Single Elimination</div>
                    <div><strong>Participants:</strong> 40</div>
                    <div><strong>When:</strong> ongoing</div>
                </div>
            </div>
            <div class="tournament">
                <div class="image">
                    <img src="images/tournament-placeholder-2.jpg" />
                </div>
                <div class="info">
                    <div><strong>Format:</strong> Single Elimination</div>
                    <div><strong>Participants:</strong> 40</div>
                    <div><strong>When:</strong> ongoing</div>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</div>

<div class="top-games section">
    <div class="container">
        <h1 class="light">Top Games</h1>
        <div class="game">
            <div class="image league-of-legends"></div>
        </div>
        <div class="game">
            <div class="image rocket-league"></div>
        </div>
        <div class="game">
            <div class="image minecraft"></div>
        </div>
        <div class="game">
            <div class="image magic-the-gathering"></div>
        </div>
        <div class="clearfix"></div>
    </div>
</div>