.top {
    background-image: url("images/home-banner-1.jpg");
    background-position-x: center;
    background-position-y: top;
}

.banner {
    position: relative;
    color: white;
    background: rgba(30,47,54, 0.6);
}


.banner-content {
    height: 600px;
}

.banner-content .pitch {
    font-size: 32px;
    width: 600px;
    margin: 0 auto;
    text-align: center;
    padding: 30px;
}

.banner-content .content-blocks {
    width: 710px;
    margin: 0 auto;
}

    .banner-content .content-block {
        background-color: #74CAC7;
        color: black;
        border: 1px solid black;
        padding: 30px;
        margin: 15px;
        float: left;
        cursor: pointer;
        user-select: none;
        transition: all 0.2s
    }

        .banner-content .content-block:hover {
            background-color: #5BB1AE;
            /*color: white;*/
        }

    .banner-content .content-block:after {
        clear: left;
    }

.cta {
    /*background-image: linear-gradient(180deg,#f07155,#ff8f59);*/
    background-color: #74CAC7;
    padding: 30px;
}

.featured-tournaments {
    margin: 0px;
    padding: 1px;
    background-color: #E0DEE3;
}

.top-games {
    margin: 0px;
    padding: 1px;
    background-color: #E0DEE3;
}